.registration {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    align-self: center;
    margin-top: 250px;
}

.registration__header{
    font-size: 30px;
    font-weight: bold;
}
.registration input {
    margin: 5px 20px;
}

.registration button {
    width: 40%;
    height: 30px;
    margin-top: 30px;
    background-color: indianred;
    color: white;
    font-size: 24px;
    border-radius: 10px;
}