
.admin-panel__btn{
    margin-top: 10px;
    display: flex;
}
.admin-panel__search{
    display: flex;
    width: 15%;
    margin-left: auto;
    margin-right: 2.5%;
    opacity: 0.5;
    text-align: center;
}
.admin-panel__search:hover {
    opacity: 1;
}
.admin-panel__search:focus {
    opacity: 1;
}