.user-details{
    margin: 20px 0 0 30px;
}
.user-details__profile{
    max-width: 75%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-details__avatar{
    display: flex;
    border: 2px solid black;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.user-details__avatar img{
    width: 100%;
    display: flex;
}
.user-details__card{
    display: flex-column;
    width: 50%;
}
.user-details__block{
    width: 100%;
    height: 25px;
    padding-left: 15px;
    margin-bottom: 10px;
}
span{
    font-weight: bold;
    font-size: 20px;
}
.user-details__btn:nth-child(3){
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.user-details__btn-details{
    min-width: 15%;
    height: 30px;
    border-radius: 10px;
    background-color: white;
}
